/*Logo and menu*/

/*This menu.css will be on every page since it will
have to exist on all pages...*/

body{
  background-color:#000000; /*#262A56, #B8621B, #E3CCAE*/
  margin:0;
  padding:0px 100px 0px 100px;
}/*to be include in every local-css file*/

.logo-menu-div{
  display:flex;
  align-items: flex-end;
}


.logo-container{
  /* margin-left:100px; */
  margin-top:50px;
  display: inline-block;
  
}

.three-lines-menu-icon-not-same-length{
  display:grid;
  margin-left:1010px;
  width:50px;
  height:55px;
  place-items: center;
  cursor:pointer;

   &>span{/*using child-selector*/  
      height:3px;
      background:red;
      display:block;
      transition: all 0.3s ease-in-out;
    }
}

.line-1{
  width: 42px;
  justify-self:end;
}
.line-2{
  width: 35px;
  justify-self:end;
}
.line-3{
  width: 50px;
  justify-self:end;
}




/*Get in touch button */
.get-in-touchbtn-persistent-on-all-pages{
   
    margin-left:930px;
    margin-bottom:80px;
}
#btn-getintouch{
    background-color: blue;
    border-radius: 30px;
    border-color: blue;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    position:sticky;

}
#btn-getintouch:hover{
     background-color: red;
  border-radius: 200px;
  border-color: red;
  cursor: pointer;
  
}