.three-lines-menu-icon-not-same-length{
  display:grid;
  width:50px;
  height:55px;
  place-items: center;
  cursor:pointer;

   &>span{/*using child-selector*/  
      height:3px;
      background:red;
      display:block;
      transition: all 0.3s ease-in-out;
    }
}

.line-1{
  width: 42px;
  justify-self:end;
}
.line-2{
  width: 35px;
  justify-self:end;
}
.line-3{
  width: 50px;
  justify-self:end;
}
