
.core-values-heading{
    color:white;
    font-family:neue, machina, Arial, Helvitica, sans-serif;
    font-size:4rem;
}

.core-values-text-logo-menu-icon-getintouchbtn hr{
    
   
}

.core-values-divs{
    display:inline-block;

    height:300px;
    width:400px;
    /* background-color: rgba(255, 255, 255, 0.925); */
    border-radius: 20px;   
    border:1px solid;
    border-color:red;
    margin-right:20px;  
}
.core-values-divs:hover{
    cursor:ns-resize;
    height:500px;
    transition: 2ms ease-in;
}

.index_core-values_captions-item{
    transform:rotate(0deg);
    transform:scale(0);
    transform:translate(0%, 0px);
    opacity:1;
    flex:1;
    display: flex;
    align-items:center;
    font-family:neue, machina, Arial, Helvitica, sans-serif;
    padding-left:10.35%;
    padding-right:10.35%;
    color:white;  
    
   
}
