
.core-values-heading{
    color:white;
    font-family:neue, machina, Arial, Helvitica, sans-serif;
    font-size:4rem;
}

.core-values-text-logo-menu-icon-getintouchbtn hr{
    
   
}

.core-values-divs{
    display:inline-block;
    height:300px;
    width:350px;
    /* background-color: rgba(255, 255, 255, 0.925); */
    border-radius: 10px;   
    border:1px solid;
    border-color:red;
    margin-right:20px;  
}
.index_core-values_captions-item{
    padding:40%;
    margin-block-start:0;
    margin-block-end:0; /* counter user-agent defaults*/
}
.core-values-divs:hover{
    cursor:ns-resize;
    height:350px;
    transition: height 2s ease-out; /* slow end */
    &>h2{
        padding:10.35% 10.35% 0%;        
    };
    &>.core-value-descr{        
        color:red;
        text-align: justify;
        padding:10px 50px;
    }
}

.index_core-values_captions-item{
    
    font-family:neue, machina, Arial, Helvitica, sans-serif;
    
    color:white;  
    
   
}
