.what-we-do-heading{
    color:white;
    font-family:neue, machina, Arial, Helvitica, sans-serif;
    font-size:4rem;
}
.whatwedo-areas-of-specialization-interest{
    
}
.areas-of-work-text{
    font-size:1rem;
}